.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signup {
    height: 100%;
    border: none;
    padding: 1rem 4rem;
    background-color: #00E0DB;
    font-size: 1rem;
    cursor: pointer;
}

.link-main {
    color: white;
    padding: 0.5rem;
}